[Unit]
Description=Mount GoPro when plugged in

[Service]
Type=oneshot
RemainAfterExit=yes
User=matt
ExecStart=/home/matt/Projects/GoProScraping/scripts/mount_gopro.sh

[Install]
WantedBy=multi-user.target

